<div class="divclas" id="portal">
   
    <div class="div">
  
    <br>
    <div class="cardn">
      <div class="imgBx">
        <img src="../../assets/ssf.png" alt="Avatar" >
      </div>
      <div class="content">
        <div class="details">
          <h3 class="abc">Login</h3>
          <br>
          <div class="data">
            <h4>Login to your existing GetFit account to continue your fitness journey </h4>
          </div>
          <br>
          <div class="actionBtn">
            <button (click)="onlogin()" >Login</button>
          </div>
        </div>
      </div>
    </div>
  
  
    <br>
    
    <div class="cardn">
      <div class="imgBx">
        <img src="../../assets/hj.png" alt="Avatar" >
      </div>
      <div class="content">
        <div class="details">
          <h3 class="abc">Sign Up</h3>
          <!-- <h4>Material Management and Finance </h4> -->
          <br>
          <div class="data">
            <h4>Create your new GetFit account to begin your fitness jouney and get into a better shape</h4>
          </div>
          <br>
          <div class="actionBtn">
            <button (click)="onclick()">Sign up</button>
          </div>
        </div>
      </div>
    </div>
  
  
    
    <br>
  
    
    <!-- <br> -->
  
    
  </div>
