<div class="whole">
    <br>
    <h5 class="castellee">YOUR WORKOUT</h5> 
    <br>
    <!-- <img src="https://www.childrens.com/wps/wcm/connect/childrenspublic/c59c5e3f-ee01-4b31-9788-e94d6b4cef66/shutterstock_102565481_800x480.jpg?MOD=AJPERES&CVID=" class="img"> -->
    
    <div class="rowh">
        <img src="../../assets/ujl.jpg" class="imgg">
        <!-- <img src="" > -->
    </div>

    <div class="card">
        <div class="card-head">MORNING WORKOUT</div>
        <div class="card-body">
        <span class=" all" >Compound exercises</span>
         <br>Deadlifts<br>Benchpress<br> Squats<br> Pull-ups<br> Shoulder press.
          <br>
          

        </div>
      </div>

      <div class="card">
        <div class="card-head">EVENING WORKOUT</div>
        <div class="card-body">
          <span class=" all" >Very limitted cardio workouts</span> <br> Jogging<br>Walking.
          <br>
          

        </div>
      </div>

     
</div>
