<div class="whole">
  <br>
  <h5 class="castellee">YOUR DIET</h5> 
  <br>
  <!-- <img src="https://www.childrens.com/wps/wcm/connect/childrenspublic/c59c5e3f-ee01-4b31-9788-e94d6b4cef66/shutterstock_102565481_800x480.jpg?MOD=AJPERES&CVID=" class="img"> -->
  
  <div class="rowh">
      <img src="https://imagesvc.meredithcorp.io/v3/mm/image?q=60&c=sc&poi=face&url=https%3A%2F%2Fimg1.cookinglight.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F4_3_horizontal_-_1200x900%2Fpublic%2F1578698236%2FBalanced%20Diet.jpg%3Fitok%3DBma9DcZ_" class="imgg">
      <!-- <img src="" > -->
  </div>

  <div class="card">
      <div class="card-head">BREAK-FAST</div>
      <div class="card-body">
        All- Bran cerals (125 cal)<br>
        Milk 100ml (50 cal)<br>
        <!-- Banana (90 cal)<br> -->
        <span class="color">(or)<br></span>
        Banana milkshake (80 cal)<br>
        Bread 2 pcs (170 cal)
        <br>
        

      </div>
    </div>

    <div class="card">
      <div class="card-head">LUNCH</div>
      <div class="card-body">
        Boiled chicken (200 cal)<br>
        Salad (50 cal)<br>
        <span class="color">(or)<br></span>
        Rice 150g (60 cal)<br>
        chicken (200 cal)
        <br>
        

      </div>
    </div>
    <div class="card">
      <div class="card-head">SNACKS</div>
      <div class="card-body">
        Walnuts (70 cal)<br>
        <span class="color">(or)<br></span>
        Cucumber (30 cal)<br>
        Avocado dip (50 cal)<br>
        <span class="color">(or)<br></span>
        Apple (60 cal)<br>
        Almonds(50 cal)
        <br>
        

      </div>
    </div>

    <div class="card">
      <div class="card-head">DINNER</div>
      <div class="card-body">
        Grilled chicken (200 cal)<br>
        Sprouts (100 cal)<br>
        <span class="color">(or)<br></span>
        Roti 2pcs (170 cal)<br>
        Chickpeas (50 cal)<br>
        <br>
        

      </div>
    </div>
</div>