<div class="whole">
    <br>
    <h5 class="castellee"><b>YOU ARE UNDERWEIGHT!</b></h5> 
    <br>
    <h2 class="lm"> <b>"This indicates a lean BMI, which means you have a low amount of body fat. If you are an athlete, this can be desirable. If you are not an athlete, a lean BMI can indicate that your weight may be too low, which may lower your immunity. If your BMI and body weight are low, 
        you should consider gaining weight through good diet and exercise habits, to increase your muscle mass."</b></h2>
    <img src="../../assets/lean.jpeg" class="img">
    </div>
